.content {
  height: 1900px;
  width: 10px;
  background: red;
}

*:active,
*:focus {
  outline: none !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  min-height: 100vh;
}

h1 {
  font-size: 1.8rem;
  font-weight: bold;
}

a,
.btn {
  transition: background-color 0.15s ease-in-out;
  will-change: background-color;
}

.btn {
  border: none;
  color: $sm-menu-text-link-color;
  cursor: pointer;
  font-family: inherit;
  font-size: 85%;
  line-height: 1;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 55px 0;
  background: $sm-menu-background;

  @media (min-width: 992px) {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 30px 0;
    box-shadow: 0 0 3px 2px rgb(0 0 0 / 10%);
  }
}

.container {
  max-width: 1240px;
  padding: 0 18px;
  margin: auto;
}

.nav-bar__wrp {
  @media (min-width: 992px) {
    display: flex;
    align-items: center;
  }
}

.nav-bar {
  display: none;

  @media (min-width: 992px) {
   display: flex;
   align-items: center;
  }
}

.nav-bar__logo {
  img {
    display: block;
  }

  @media (min-width: 992px) {
    margin: 0 15px 0 25px;
   }
}

.nav-bar__list {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-bar__list-link {
  color: $color-primary;
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;

  @media (min-width: 992px) {
    padding: 15px 18px;
   }
}

._nav-transition {
  .offset-menu__wrp {
    transition: opacity 0.3s ease $sm-transition-dur;
  }

  .offset-menu {
    transition: transform $sm-transition-dur $sm-transition-easing;
  }

  ._nav-open {
    .offset-menu {
      transition-delay: 0.3s;
    }

    .offset-menu__wrp {
      transition-delay: 0s;
    }
  }
}

.offset-menu__control {
  color: $color-primary;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  border-radius: 6px;
  border: 1px solid $color-primary;

  @media (max-width: 767px) {
    margin-left: auto;
  }

  @media (min-width: 992px) {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }

  .hamburger-menu {
    display: block;
    width: 30px;
    height: 3px;
    background: $color-primary;
    position: relative;
    margin: 8px 0;

    &:before,
    &:after {
      content: '';
      width: 100%;
      height: 3px;
      background: $color-primary;
      position: absolute;
      left: 0;
    }

    &:before {
      transform: translateY(-8px);
    }

    &:after {
      transform: translateY(8px);
    }
  }
}

.offset-menu__wrp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  background: rgba(#000, 0.6);
  overflow: hidden;
  will-change: opacity;
}

._nav-open .offset-menu__wrp {
  pointer-events: all;
  opacity: 1;
}

.offset-menu {
  will-change: transform;
  transform: translate3d(-100%, 0, 0);
  transition: transform $sm-transition-dur $sm-transition-easing;
  background: $sm-menu-background;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;

  @media (min-width: 992px) {
    width: 480px;
  }
}

._nav-open .offset-menu {
  transform: translate3d(0, 0, 0);
}

.offset-menu__header {
  padding: 26px 26px 26px 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 0;
    left: 0;
    background: #fff;
    transform: translateY(100%);
    z-index: 1;
  }

  @media(min-width: 992px) {
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 18px 26px 18px 35px;
  }
}

.offset-menu__logo-link {
  display: block;
  margin-right: 70px;


  img {
    display: block;
    margin: 0;
  }
}

.offset-menu__close {
  position: relative;
  z-index: 3;
}

.offset-menu__close-button {
  font-size: 24px;
  line-height: 1px;
  background: transparent;
  display: block;
  width: 24px;
  height: 24px;

  @media (min-width: 992px) {
    font-size: 32px;
    width: auto;
    margin-right: 24px;
  }

  i {
    display: block;
  }
}

.offset-menu {
  display: flex;
  flex-direction: column;
}

._level-2,
._level-3 {
  position: absolute;
  display: block;
  background: $sm-menu-background;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: all $sm-transition-dur $sm-transition-easing;
}

._level-3 {
  transform: translateX(100%);
  opacity: 1;

  @media(min-width: 992px) {
    transform: translateX(0);
    display: none;
  }
}

.offset-menu__list {
  margin: 0;
  list-style: none;
  width: 100%;
  padding: 32px 0;
  flex-grow: 1;
  max-height: calc(100vh - 136px);

  @media (min-width: 992px) {
    padding: 48px 0;
  }

  &._level-1 {
    overflow-x: hidden;
    overflow-y: auto;
  }

  .offset-menu__sub-level {
    height: 100vh;
    flex-grow: 1;

    .offset-menu__list {
      overflow-y: auto;
    }
  }
}

.offset-menu__link {
  color: $sm-menu-text-link-color;
  font-size: 20px;
  font-weight: 500;
  display: block;
  text-decoration: none;
  padding: 16px 25px 16px 40px;
  position: relative;
  display: flex;
  align-items: center;

  i {
    display: block;
    margin-left: auto;
    pointer-events: none;
    font-size: 24px;
    line-height: 1;
  }

  @media(min-width: 992px) {
    padding: 16px 55px 16px 90px;
  }
}

.offset-menu__list-separator {
  margin: 9px 0;

  @media(min-width: 992px) {
    display: block;
    margin: 16px 55px 16px 90px;

    &::after {
      content: '';
      width: 100%;
      height: 1px;
      display: block;
      background: #000;
    }

    & ~ .offset-menu__list-item {
      .offset-menu__link {
        font-size: 20px;
        line-height: 30px;
      }
    }
  }
}

._level-1 {
  @media (min-width: 992px) {
    position: relative;

    & > li > a {
      font-size: 28px;
      line-height: 42px;
    }
  }
}

.offset-menu__subheader-controls {
  padding: 24px 27px 14px 40px; 
  display: flex;
  justify-content: space-between;
  font-size: 24px;

  @media (min-width: 992px) {
    padding: 0 24px 0 0; 
  }
}

.offset-menu__subheader {
  background: $sm-menu-background;

  i,
  span {
    display: block;
    line-height: 1;
  }

  i {
    pointer-events: none;
  }

  @media (min-width: 992px) {
    display: flex;
    align-items: center;
    padding: 24px 68px 24px 42px; 
  }
}

.offset-menu__title {
  display: block;
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  padding: 18px 20px 28px 40px;

  @media (min-width: 992px) {
    padding: 0;
  }
}

._sub-2__visible {
  & + ._level-2 {
    opacity: 1;
    pointer-events: all;
    overflow: auto;
    overflow-x: hidden;
  }
}

._sub-2__visible {
  & + ._level-3 {
    transform: translateX(0);
    pointer-events: all;
  }
}

.offset-menu__list-item {
  & + .offset-menu__list-item {
    margin-top: 10px;
  }
}

.offset-menu__last-level {
  position: absolute;
  width: 410px;
  top: 0;
  left: 480px;
  height: 100%;
  background: $sm-menu-background;
  opacity: 0;
  transition: 0.5s ease;

  &:after {
    content: '';
    display: block;
    width: 1px;
    bottom: 0;
    top: 155px;
    left: 0;
    background: #C4C4C4;
    position: absolute;
    z-index: 1;
  }

  .offset-menu__subheader-controls {
    display: none;
  }

  ._level-3 {
    top: 120px;
    pointer-events: all;
    overflow: auto;

    @media (min-width: 992px) {
      display: block;
      overflow: hidden;
      display: flex;
      flex-direction: column;

      .offset-menu__list {
        overflow: auto;
      }
    }
  }

  .offset-menu__link {
    padding: 16px 66px 16px 35px;
  }

  .offset-menu__subheader {
    padding: 24px 68px 24px 35px;
  }

  &._show {
    opacity: 1;
  }
}

._sub-open ._level-1 {
  overflow: unset;
}


