*:active,
*:focus {
  outline: none !important;
}

html {
  font-size: 20px;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.4;
}

h1 {
  font-size: 1.8rem;
  font-weight: bold;
}

a,
.btn {
  transition: background-color 0.15s ease-in-out;
  will-change: background-color;
}

.btn {
  padding: 0.6rem 0.8rem 0.64rem 0.8rem;
  border: none;
  color: $sm-menu-text-link-color;
  cursor: pointer;
  font-family: inherit;
  font-size: 85%;
  line-height: 1;
}

.slide-menu {
  width: $sm-menu-width;
  background-color: $color-primary;
  position: fixed;
  max-width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  display: none;
  overflow: hidden;
  box-sizing: border-box;
  transition: transform $sm-transition-dur $sm-transition-easing;
  transform: translateX(100%);
  overflow-y: auto;
  will-change: transform;
  z-index: 1000;

  .slide-menu__slider {
    width: 100%;
    transition: transform $sm-transition-dur $sm-transition-easing;
    transform: translateX(0);
    will-change: transform;
  }

  &,
  a {
    font-size: 1.13rem;
    color: $sm-menu-text-link-color;
  }

  a {
    cursor: pointer;
  }

  ul {
    position: relative;
    width: 100%;
    margin: 0;
    padding-left: 0;
    list-style: none;

    ul {
      position: absolute;
      top: 0;
      left: 100%;
      display: none;
    }

    a {
      display: block;
    }

    li {
      padding: 20px 80px;

      .next-default-arrow {
        position: relative;

        &:after {
          content: "";
          display: inline-block;
          position: absolute;
          margin-top: 0.3rem;
          width: 16px;
          height: 16px;
          border-top: 2px solid $sm-menu-background-hover;
          border-right: 2px solid $sm-menu-background-hover;
          transform: rotate(45deg);
          transition: all 0.1s ease-out;
        }
      }

      &:hover {
        background-color: $sm-menu-background-hover;

        & > a {
          color: $sm-menu-text-color-hover;

          .slide-menu__decorator {
            color: $sm-menu-text-color-hover;
          }

          .next-default-arrow {
            position: relative;

            &:after {
              border-top: 2px solid $sm-menu-text-color-hover;
              border-right: 2px solid $sm-menu-text-color-hover;
            }
          }
        }


      }
    }

    a {
      display: flex;
      justify-content: space-between;
      border-bottom: $sm-menu-text-link-border-bottom;
      text-decoration: $sm-menu-text-decoration;

      .slide-menu__decorator {
        color: $sm-menu-background-hover;
      }

    }

    .slide-menu__backlink {
      justify-content: flex-start;
      cursor: pointer;
      font-size: 20px;
      font-style: italic;
      line-height: 1.5;
      position: relative;
      width: 100%;
      background: initial;
      text-align: left;
      padding-left: 40px;
      text-transform: none;
      color: $sm-menu-text-link-color;

      .prew-default-double-arrows {
        position: relative;

        &:before,
        &:after {
          content: "";
          display: inline-block;
          position: absolute;
          margin-top: 0.3rem;
          width: 16px;
          height: 16px;
          border-top: 1px solid $sm-menu-text-link-color;
          border-right: 1px solid $sm-menu-text-link-color;
          transform: rotate(225deg);
          transition: all 0.1s ease-out;
          left: -35px
        }

        &:after {
          left: -28px
        }
      }

      &:hover {
        color: $sm-menu-text-color-hover;

        .prew-default-double-arrows {
          position: relative;

          &:before,
          &:after {
            border-top: 1px solid $sm-menu-text-color-hover;
            border-right: 1px solid $sm-menu-text-color-hover;
          }
        }
      }

    }
  }

  .controls {
    display: flex;
    margin-bottom: 1rem;
  }

  .btn {
    padding: 0.75rem 1.5rem;
    flex: 1 0 auto;
    font-size: 90%;
    color: $sm-menu-text-link-color;
    background-color: transparent;
    text-transform: uppercase;
  }
}

.slide-menu__closebutton {
  position: relative;
  right: 50px;
  width: 32px;
  height: 32px;
  margin: 20px 100% 20px;

  &:before,
  &:after {
    position: absolute;
    top: 0;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: $sm-menu-text-link-color;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }

  &:hover {
    &:before,
    &:after {
      background-color: $sm-menu-background-hover
    }
  }
}

.toggle-slide-menu {
  position: absolute;
  top: 50px;
  right: 100px;
  color: black;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .hamburger-menu {
    display: block;
    width: 30px;
    height: 3px;
    background: black;
    margin-left: 20px;
    position: relative;

    &:before,
    &:after {
      content: '';
      width: 100%;
      height: 3px;
      background: black;
      position: absolute;
      left: 0;
    }

    &:before {
      transform: translateY(-8px);
    }

    &:after {
      transform: translateY(8px);
    }
  }

  &:hover {
    .hamburger-menu {
      background: $sm-menu-background-hover;

      &:before,
      &:after {
        background: $sm-menu-background-hover;
      }
    }
  }
}


