.content {
  height: 1900px;
  width: 10px;
  background: red;
}

*:active,
*:focus {
  outline: none !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  min-height: 100vh;
}

h1 {
  font-size: 1.8rem;
  font-weight: bold;
}

a,
.btn {
  transition: background-color 0.15s ease-in-out;
  will-change: background-color;
}

.btn {
  border: none;
  color: $sm-menu-text-link-color;
  cursor: pointer;
  font-family: inherit;
  font-size: 85%;
  line-height: 1;
}

.main-container {
  transition: transform $sm-transition-dur $sm-transition-easing;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 64px 18px;
  display: flex;
  justify-content: flex-end;
}

.close-container {
  border-bottom: 1px solid #fff;
}

.slide-menu__toggle {
  color: $color-primary;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  border-radius: 6px;
  border: 1px solid $color-primary;

  @media (min-width: 992px) {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }

  .menu-label {
    display: none;

    @media (min-width: 992px) {
      display: block;
      margin-right: 8px;
    }
  }

  .hamburger-menu {
    display: block;
    width: 30px;
    height: 3px;
    background: $color-primary;
    position: relative;
    margin: 8px 0;

    &:before,
    &:after {
      content: '';
      width: 100%;
      height: 3px;
      background: $color-primary;
      position: absolute;
      left: 0;
    }

    &:before {
      transform: translateY(-8px);
    }

    &:after {
      transform: translateY(8px);
    }
  }
}

.slide-menu__meta {
  display: flex;
  align-items: center;
}

.meta-item {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  display: flex;
  align-items: center;

  i {
    margin-right: 10px;
    display: block;
    font-size: 22px;
  }

  & + .meta-item {
    margin-left: 28px;
  }
}

.slide-menu__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 64px 58px 32px;
}

.slide-menu__closebutton {
  position: relative;
  width: 32px;
  height: 32px;
  padding: 0;
  background: transparent;
  position: relative;
  left: 10px;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 15px;
    width: 2px;
    background-color: $sm-menu-text-link-color;
  }

  &:before {
    transform: translateY(-50%) translateX(-50%) rotate(45deg);
  }

  &:after {
    transform: translateY(-50%) translateX(-50%) rotate(-45deg);
  }
}

.slide-menu-opened {
  overflow-y: hidden;

  body {
    overflow-y: scroll;

    &:after {
      width: 100%;
      height: 100%;
      background: $sm-menu-background;
      content: "";
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      opacity: 0.3;
    }
  }
}

.slide-menu {
  width: $sm-menu-width;
  background-color: $sm-menu-background;
  position: fixed;
  max-width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  display: none;
  overflow: hidden;
  box-sizing: border-box;
  transition: transform $sm-transition-dur $sm-transition-easing;
  transform: translateX(100%);
  overflow-y: auto;
  will-change: transform;
  z-index: 1000;

  .slide-menu__slider {
    width: 100%;
    transition: transform $sm-transition-dur $sm-transition-easing;
    transform: translateX(0);
    will-change: transform;
  }

  &__list {
    position: relative;
    width: 100%;
    margin: 0;
    padding-left: 0;
    list-style: none;

    .slide-menu__list {
      position: absolute;
      top: 0;
      left: 100%;
      display: none;
    }
  }

  .controls {
    display: flex;
    margin-bottom: 1rem;
  }
}

.slide-menu__list {
  position: relative;
  width: 100%;
  margin: 0;
  padding-left: 0;
  list-style: none;
  padding: 20px 58px 40px;

  .slide-menu__list {
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
  }
}

._level-2 .slide-menu__title {
  font-size: 36px;
  line-height: 50px;
  display: block;
  margin: 48px 0;
  font-weight: 300;
  color: $sm-menu-text-link-color;
}

._level-1 > .slide-menu__list-item > .slide-menu__link {
  font-size: 32px;
  line-height: 48px;
  font-weight: 300;
}

.slide-menu__backlink {
  background: $sm-menu-background;
  position: absolute;
  top: 0;
  left: 0;
  padding: 53px 85px;
  transform: translateY(-100%);
  width: 100%;
  font-size: 16px;
  font-weight: 300;
  color: $sm-menu-text-link-color;
  border-bottom: 1px solid rgba($sm-menu-text-link-color, 0.8);

  &:before {
    content: '';
    position: absolute;
    left: 58px;
    top: 50%;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid $sm-menu-text-link-color;
    border-left: 2px solid $sm-menu-text-link-color;
    transform: translateY(-50%) rotate(45deg);
  }
}

.slide-menu__link {
  color: $sm-menu-text-link-color;
  text-decoration: none;
  margin: 48px 0;
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
  display: block;
  position: relative;

  .slide-menu__decorator {
    position: absolute;
    right: -5px;
    top: 10px;
  }

  .next-default-arrow {
    position: relative;
    width: 30px;
    height: 30px;
    display: block;

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      left: 0;
      top: 5px;
      width: 16px;
      height: 16px;
      border-top: 3px solid $color-primary;
      border-right: 3px solid $color-primary;
      transform: rotate(45deg);
      transition: all 0.1s ease-out;
    }
  }
}

._level-2 .slide-menu__link .slide-menu__decorator {
  top: 2px;
  transform: scale(0.6);
}


