$color-primary: #0D6EFD;
$color-danger: hsl(356, 62%, 38%);

$sm-menu-width: 580px;
$sm-menu-padding-left: 5.63rem;
$sm-menu-padding-right: 3.75rem;

$sm-transition-dur: 500ms;
$sm-transition-easing: ease-in-out;

$sm-menu-background: #fff;
$sm-menu-text-link-color: #343A40;
$sm-menu-text-decoration: none;
$sm-menu-text-hover-decoration: none;
$sm-menu-text-link-border-bottom: none;
$sm-menu-text-color-hover: #212020;
$sm-menu-background-hover: #ffb300;
$sm-menu-next-sign-color: #ffb300;
$sm-menu-next-sign-hover-color: #212020;